
<div class="container main-container" style="padding-top: 30px; padding-bottom: 50px;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Documento</th>
            <th scope="col">Data de cadastro</th>
            <th scope="col"><a href="adicionar-cliente" class="btn btn-warning btn-sm">Adicionar</a></th>
        </tr>
        </thead>
        
        <tbody>
        <tr *ngFor="let cliente of clientes" >
            <th scope="row">{{ cliente.id }}</th>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.dataCadastro }}</td>
            <td><a href="" (click)="remove(cliente.id)" class="btn btn-danger btn-sm">Deletar</a></td>
        </tr>
        </tbody>
  </table>
</div>