<app-menu></app-menu>

<div class="container">
    <div class="jumbotron" style="padding-top: 20px; padding-bottom: 20px;">
        <h1 style="font-size: 40px; margin: 0px;"><i class="fa fa-camera" aria-hidden="true"></i> Fotos</h1>      
    </div>  
    
    <div class="container main-container" style="padding-top: 30px; padding-bottom: 50px;">
        <div class="row text-center">
                
            <div *ngFor="let photo of photos | paginate: { itemsPerPage: 6, currentPage: paginaAtual }; let i = index"
            class="col-md-4" style="padding-bottom: 3%;">
                <div class="card" style="width: 253px">
                    <a class="text-decoration-none" >
                        <div class="effect" style="align-content: center;">
                            <img src="{{ photo.url }}"  height="auto" width="253px" alt="">
                        </div>
                    </a>
                    <h3 class="card-title"> {{ photo.title | titlecase }}</h3>  
                </div>
            </div>
        </div>
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>

</div>