<h1 mat-dialog-title>Detalhes do Usuário</h1>
<div mat-dialog-content>
    <table>
        <tr>
         <td class="head">Id</td>
         <td>{{data.id}}</td>
       </tr>
       <tr>
         <td class="head">Nome</td>
         <td>{{data.name}}</td>
       </tr>
       <tr>
        <td class="head">Username</td>
        <td>{{data.username}}</td>
      </tr>
      <tr>
        <td class="head">Email</td>
        <td>{{data.email}}</td>
      </tr>
      <tr>
        <td class="head">Phone</td>
        <td >{{data.phone}}</td>
      </tr>
      <tr>
        <td class="head">Website</td>
        <td>{{data.website}}</td>
      </tr>
    </table>
</div>