<app-menu></app-menu>

<div class="container">
    <div class="jumbotron" style="padding-top: 20px; padding-bottom: 20px;">
        <h1 style="font-size: 40px; margin: 0px;"><i class="fa fa-camera" aria-hidden="true"></i> Fotos</h1>      
    </div>  
    
    <div style="padding: 2%;" >  
        <div class="col-md-4" style="padding-bottom: 30px;">
            <mat-card class="example-card" >
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>