<div class="container" style="padding-top: 50px;">
  <h1>Nossa Equipe</h1>
</div>

<div class="card-deck" style="padding-top: 50px; padding-right: 50px; padding-left: 50px;">
  <div class="card">
    <img class="card-img-top" src="/assets/ani1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rodilon</h5>
      <p class="card-text">O Crânio da Web</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/ani2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Camila</h5>
      <p class="card-text">Freelance Web Developer</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/ani3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vanessa</h5>
      <p class="card-text">Freelance Web Developer</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>    
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/ani4.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Trevis</h5>
      <p class="card-text">Freelance Web Developer</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>     
    </div>
  </div>
</div>
