<!--
    Escolhi o Template-Driven Forms
    fonte: https://www.pluralsight.com/guides/difference-between-template-driven-and-reactive-forms-angular/
-->
<div class="container body col-12">
    <div class="d-flex justify-content-center">
        <div class="col-sm-6 vertical-center justify-content-center">
            
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
               
               <p style="font-family: 'Permanent Marker'; 
                padding-bottom: 40px; 
                font-weight: bold; 
                font-size: 50px; 
                text-align: center;">  < / > </p>
                <div class="tabela">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        placeholder="e-mail"
                        name="email"
                        ngModel
                        required
                        #email="ngModel"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        >
                    </div>
                    <div style="color:red" 
                        *ngIf="email.errors && email.invalid && (email.dirty || email.touched)">    
                        <p *ngIf="email.errors.required">
                            Campo E-mail obrigatório</p>
                        <p *ngIf="email.errors?.pattern">
                            Email address is invalid</p>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        id="password"
                        placeholder="senha"
                        name="password"
                        ngModel
                        required
                        #password="ngModel"
                        >
                    </div>
                    <div style="color:red" 
                        *ngIf="password.errors && (password.dirty || password.touched)">    
                        <p *ngIf="password.errors.required">
                            Campo senha obrigatório
                        </p>
                    </div>

          
                <button type="submit" class="btn btn-info" 
                    [disabled]='email.errors && email.invalid && password.errors.required'
                    
                    >Entrar
                </button>
            
            </div>
            </form>
        </div>
    </div>
</div>