.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  /*
  Fonte do vertical-center:
  https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap
  */

  .container.body{
      background-color: #F8F9FA;
      
  }
  .tabela{
    background-color: azure;
    padding: 30px;
    border: 2px solid #f0f2f4;
    border-radius: 3px;
  }

  button{
    background-color: green;
    border: 0px;
    width: 100%;
    opacity: 1;
    transition: opacity .25s ease-in-out;
  }

  button:disabled {
    background-color: #b6bfc9;
 }
  
 button:hover {
  opacity: 0.6;
}